.optionsContainer {
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 100%;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: rgb(57, 57, 190);
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 6em;
  font-weight: 700 !important;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02), 3px 3px rgba(0, 0, 0, 0.02), 4px 4px rgba(0, 0, 0, 0.02), 0.125rem 0.125rem rgba(0, 0, 0, 0.02), 6px 6px rgba(0, 0, 0, 0.02), 7px 7px rgba(0, 0, 0, 0.02), 8px 8px rgba(0, 0, 0, 0.02), 9px 9px rgba(0, 0, 0, 0.02), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.02), 11px 11px rgba(0, 0, 0, 0.02), 12px 12px rgba(0, 0, 0, 0.02), 13px 13px rgba(0, 0, 0, 0.02), 14px 14px rgba(0, 0, 0, 0.02), 0.625rem 0.625rem rgba(0, 0, 0, 0.02), 16px 16px rgba(0, 0, 0, 0.02), 17px 17px rgba(0, 0, 0, 0.02), 18px 18px rgba(0, 0, 0, 0.02), 19px 19px rgba(0, 0, 0, 0.02), 1.25rem 1.25rem rgba(0, 0, 0, 0.02);
}

h4,
h5 {
  margin-top: 1em;
  letter-spacing: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
  font-weight: normal;
}

p {
  font-size: 0.875em;
  margin-bottom: 1em;
  line-height: 160%;
}

#toggle-alert {
  position: fixed;
  z-index: 1000;
  right: 1.5em;
  top: 1.5em;
  display: block;
  padding: 1em 1.8em;
  font-size: 0.6125em;
  border-radius: 100em;
  cursor: pointer;
  transition: 0.3s ease-out all;
}
#toggle-alert i {
  margin-right: 0.7em;
  line-height: 100%;
  opacity: 0.7;
  font-size: 1rem;
}
#toggle-alert:hover {
  color: #ffc371;
}

.options {
  display: table;
  width: 100%;
  height: inherit;
  table-layout: fixed;
}
.options > .option {
  position: relative;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  transition-property: background;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.07);
}
.options > .option > input[type=radio],
.options > .option > input[type=checkbox] {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.options > .option > input[type=radio]:hover, .options > .option > input[type=radio]:checked,
.options > .option > input[type=checkbox]:hover,
.options > .option > input[type=checkbox]:checked {
  cursor: pointer !important;
}
.options > .option > input[type=radio]:hover ~ .option-content, .options > .option > input[type=radio]:checked ~ .option-content,
.options > .option > input[type=checkbox]:hover ~ .option-content,
.options > .option > input[type=checkbox]:checked ~ .option-content {
  width: 100%;
  transform: scale(1.3, 1.3);
}
.options > .option > input[type=radio]:checked ~ .on-checked,
.options > .option > input[type=checkbox]:checked ~ .on-checked {
  opacity: 1;
  box-shadow: inset 0px 0px 3em -1.2em rgba(0, 0, 0, 0.5);
}
.options > .option > input[type=radio]:active ~ .option-content,
.options > .option > input[type=checkbox]:active ~ .option-content {
  transform: scale(1.15, 1.15);
}
.options > .option > .option-content {
  position: relative;
  z-index: 1;
  cursor: pointer !important;
  height: inherit;
  transform: translate3d(0, 0, 0);
  transition-property: transform, background, padding, transform;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration: 0.3s;
}
.options > .option > .on-checked {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}