@import url('./rubik.css');
@import url("./staatliches.css");
@import url('./css2.css');
  body {
      font-family: "Roboto Condensed", sans-serif;
      color: black;
  }
  .borrowed-row {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
  }

  #booksTable {
      border-radius: 1.4em;
      overflow: hidden; 
      color: black;
  }
  #booksTable_length > label {
    color: black;
  }
  .row{
    font-family: "Cascadia Mono", sans-serif;
  }
  
  #searchContainer {
    width: 100%;
    text-align: center;
    position: absolute; /* Ensures it's above the image */
    top: 50px; /* Adjust height so it's not covered */
    left: 0;
}

#recordsContainer {
    display: block;
    position: relative;
}

    @import url('./outfit.css');

    .fjalla-one-regular {
        font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-style: normal;
        }

    form{
        font-family: 'Fjalla One';
    }
