.venv/
.idea/
lims_portal/lims_portal/__pycache__/
lims_portal/lims_app/__pycache__/
lims_portal/lims_app/migrations/
db.sqlite3
*.sqlite3
.env
# Celery Beat
celerybeat-schedule
lims_portal/celerybeat-schedule
celerybeat-schedule.*

# Backups
backups/
lims_portal/backups/
