<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,800,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css">
  <link rel="stylesheet" href="../static/Scripts/css/about.css">

</head>
<body>
{% include 'partials/upbox.html' %}
<div class="slider--teams">
  <div class="slider--teams__team" style="margin-top: 2em;">
    <ul id="list" class="cf">
      
      <li>
        <figure class="active">
          <div>
          	<div></div>
          </div>
          <figcaption>
            <h2>Bright Bastasa</h2>
            <p>UI/UX Developer</p>
          </figcaption>
        </figure>
      </li>
      
      <li>
        <figure>
          <div>
            <div></div>
          </div>
          <figcaption>
            <h2>Bastasa, Bright Ramos</h2>
            <p>Back-End Developer</p>
          </figcaption>
        </figure>
      </li>
      
      <li>
        <figure>
          <div>
          	<div></div>
          </div>
          <figcaption>
            <h2>Somar Bright</h2>
            <p>Designer</p>
          </figcaption>
        </figure>
      </li>
      
      <li>
        <figure>
          <div>
          	<div></div>
          </div>
          <figcaption>
            <h2>Bright R. Bastasa</h2>
            <p>Front-End Development</p>
          </figcaption>
        </figure>
      </li>
      
      <li>
        <figure>
          <div>
          	<div></div> 
          </div>
          <figcaption>
            <h2>Bright R. Bastasa</h2>
            <p>Development Lead/Head</p>
          </figcaption>
        </figure>
      </li>
      
      <li>
        <figure>
          <div>
          	<div></div> 
          </div>
          <figcaption>
            <h2>Jared, JM, Lorenz, Gabriel, Rover</h2>
            <p>eTala member</p>
          </figcaption>
        </figure>
      </li>
      
    </ul>
  </div>
</div>
<!-- partial:index.partial.html -->
<!-- partial -->
<script src='../static/Scripts/js/jquery.min.js'></script>
<script src='../static/Scripts/js/velocity.min.js'></script>
<script  src="../static/Scripts/js/aboutscript.js"></script>
</body>
</html>
