<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,800,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css">
  <link rel="stylesheet" href="../static/Scripts/css/about.css">
</head>
<body>
  <header>
  {% include 'partials/upbox.html' %}
  </header>

  <div class="color-list">
  <section class="color" style="background: #0d6efd">
    <ul class="details">
      <li>hsl(4,99%,66%)</li>
      <li>#FE5E52</li>
      <li>178 C</li>
      <li>485 U</li>
      <li>Primary</li>
    </ul>
  </section>

  <section class="color" style="background: hsl(0, 0%, 100%);">
    <ul class="details">
      <li>hsl(233,21%,56%)</li>
      <li>#777DA6</li>
      <li>7675 C</li>
      <li>7669 U</li>
      <li>Primary</li>
    </ul>
  </section>
  
  <section class="color" style="background: #0d6efd">
    <ul class="details">
      <li>hsl(357,26%,42%)</li>
      <li>#874F52</li>
      <li>4985 C</li>
      <li>188 U</li>
      <li>Secondary</li>
    </ul>
  </section>
  <section class="color" style="background: hsl(0, 0%, 100%);">
    <ul class="details">
      <li>hsl(144,33%,68%)</li>
      <li>#92C8A8</li>
      <li>345 C</li>
      <li>344 U</li>
      <li>Secondary</li>
    </ul>
  </section>

  <section class="color" style="background: #0d6efd">
    <ul class="details">
      <li>hsl(97,62%,80%)</li>
      <li>#C5ECAC</li>
      <li>7486 C</li>
      <li>7486 U</li>
      <li>Secondary</li>
    </ul>
  </section>

  <section class="color" style="background: hsl(0, 0%, 100%);">
    <ul class="details">
      <li>hsl(97,62%,80%)</li>
      <li>#C5ECAC</li>
      <li>7486 C</li>
      <li>7486 U</li>
      <li>Secondary</li>
    </ul>
  </section>
</div>
    <script  src="../static/Scripts/js/aboutscript.js"></script>

</body>
</html>
