<link rel="stylesheet" href="../static/Scripts/navbar.css">
 <link rel="icon" href="../static/pisay.png">
<section class="cloneable">
  <div class="nav-wrap" style="font-family: 'Staatliches', sans-serif">
    <nav class="nav-bar">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/" class="nav-item__link"><img src="../static/home_logo.png" loading="eager" alt="Koey" class="image"></a>
          <div class="nav-item__tooltip">
            <div>Home</div>
          </div>
        </li>
        <li class="nav-item">
          <a href="/records" class="nav-item__link"><img src="../static/library_logo.png" loading="eager" alt="figma app icon" class="image"></a>
          <div class="nav-item__tooltip">
            <div>Library Database</div>
          </div>
        </li>
        <li class="nav-item">
          <a href="/books" class="nav-item__link"><img src="../static/return_logo.png" loading="eager" alt="Photoshop app icon" class="image"></a>
          <div class="nav-item__tooltip">
            <div>Statistics</div>
          </div>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-item__link"><img src="../static/about_logo.png" loading="eager" alt="Premiere Pro app icon" class="image"></a>
          <div class="nav-item__tooltip">
            <div>About Section</div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</section>
<script src='../static/Scripts/navbar.js'></script>