<link rel='stylesheet' href='../static/Scripts/css/ionicons.min.css'>
<link rel='stylesheet' href='../../static/Scripts/css/animate.min.css'>
<link rel='stylesheet' href='../../static/Scripts/css/roboto.css'>
<link rel="stylesheet" href="../../static/Scripts/css/optionmenu.css">
<div class="sealign">
  <div class="options">
    <label class="option">
        <input type="radio">
        <div class="option-content" id="registerAccount">
            <h1 class="animated bounceIn"><img src="../../static/img/account.svg" style="width: 1em; height: 1em;"></h1>
            <h4>Activate Account</h4>
        </div>
        <div class="on-checked"></div>
    </label>
    <label class="option">
        <input type="radio">
        <div class="option-content redirect-records">
            <h1 class="animated bounceIn"><img src="../../static/img/findbooks.svg" style="width: 1.3em; height: 1.3em;"></h1>
            <h4>Find Books</h4>
        </div>
        <div class="on-checked"></div>
    </label>
    <label class="option">
        <input type="checkbox">
        <div class="option-content redirect-about">
            <h1 class="animated bounceIn"><img src="../../static/img/learnmore.svg" style="width: 1em; height: 1em;"></h1>
            <h4>Learn More</h4>
        </div>
        <div class="on-checked"></div>
    </label>
    <label class="option">
        <input type="checkbox">
        <div class="option-content redirect-analytics">
            <h1 class="animated bounceIn"><img src="../../static/img/analytics.svg" style="width: 1em; height: 1em;"></h1>
            <h4>Library Analytics</h4>
        </div>
        <div class="on-checked"></div>
    </label>
</div>
</div>
<script src='../../static/Scripts/js/jquery.min.js'></script>
<script  src="../../static/Scripts/js/optionmenu.js"></script>
