@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Teko:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');
    body {
      font-family: "Roboto Condensed", sans-serif;
      color: black;
  }
  .borrowed-row {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
  }

  #booksTable {
      border-radius: 1.4em;
      overflow: hidden; 
      color: black;
  }
  #booksTable_length > label {
    color: black;
  }
  .row{
    font-family: "Cascadia Mono", sans-serif;
  }
  
  #searchContainer {
    width: 100%;
    text-align: center;
    position: absolute; /* Ensures it's above the image */
    top: 50px; /* Adjust height so it's not covered */
    left: 0;
}

#recordsContainer {
    display: block;
    position: relative;
}

    @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Outfit:wght@100..900&display=swap');

    .fjalla-one-regular {
        font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-style: normal;
        }

    form{
        font-family: 'Fjalla One';
    }
